.bi-div {
    margin: auto;
    max-width: 1080px;
    padding: 10px;
    padding-top: 3%;
    padding-bottom: 3%;
    color: white;
    background-color: rgb(255, 180, 95);
    text-align: center;
}

.bi-carousel {

    display: inline-block;
}

.bi-cr-item {
    max-width: 600px;
    width: 100%
}

.bi-td-left {
    width: 50%
}

.bi-img {
    max-height: 200px;
}

.bi-td-right {
    text-align: left;
    padding-left: 3%;
    width: 50%;
}

.color-white {
    color: white;
}