.sl-div {
    margin: auto;
    max-width: 1080px;
    padding: 10px;
    padding-top: 3%;
    text-align: center;
    background-color: rgb(255, 242, 231);
}

.gc-div {
    margin: auto;
    max-width: 1080px;
    padding: 10px;
    padding-bottom: 3%;
    padding-top: 3%;
    text-align: center;
    background-color: rgb(255, 242, 231);
}

.gc-tb {

    display: inline-block;
}

.gc-td-left {
    max-width: 105px;
    height: auto
}

.gc-td-right {
    text-align: left;
}

.gc-tip-table-left {
    max-width: 100px;
    height: auto
}

.qm-img {
    max-height: 21px;
    max-width: 21px;
}

#button-tooltip>.tooltip-inner {
    background-color: #fff;
    color: #000;
    border: 1px solid #062e56;
}

#button-tooltip>.tooltip-arrow {
    border-top: 5px solid #062e56;
}

.card-div {
    margin: auto;
    max-width: 1080px;
    padding: 10px;
    padding-bottom: 5%;
    padding-top: 3%;
    text-align: center;
    background-color: rgb(255, 242, 231);
}

.gi-div {
    margin: auto;
    max-width: 1080px;
    padding: 10px;
    padding-bottom: 5%;
    padding-top: 3%;
    text-align: center;
    background-color: rgb(251, 255, 231);
}

.gi-cr-div {
    max-width: 500px;
    display: inline-block;
    width: 100%;

}

.item-selected {
    border: solid 6px rgb(17, 113, 126)
}

.gi-cr-item {
    width: 150px;
    height: 150px;
    white-space: nowrap;
}

.gi-cr-item-helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.gi-cr-item-img {
    max-width: 138px;
    max-height: 138px;
    vertical-align: middle;
}

.gd-table {
    max-width: 800px;
    display: inline-block;

}

.gd-table-text {
    text-align: left;
    padding: 2%;
}

.gd-table-img {
    max-width: 350px;
    max-height: 300px;
}


.gd-cr-div {
    max-width: 800px;
    width: 100%;
    display: inline-block;
}


.gd-cr-item {
    max-width: 250px;
    vertical-align: middle;
}

.cf-div {
    margin: auto;
    max-width: 1080px;
    padding: 10px;
    padding-bottom: 5%;
    padding-top: 3%;
    text-align: center;
    background-color: rgb(255, 242, 231);
}

.cf-form {
    text-align: left;
    max-width: 500px;
    margin: auto;
    margin-top: 20px;
}

.color-white {
    color: white;
}