.gi-div {
    margin: auto;
    max-width: 1080px;
    padding: 10px;
    padding-bottom: 5%;
    padding-top: 3%;
    text-align: center;
    background-color: rgb(251, 255, 231);
}

.gi-cr-div {
    max-width: 500px;
    display: inline-block;
    width: 100%;
}

.item-selected {
    border: solid 6px rgb(17, 113, 126)
}

.gi-cr-item {
    width: 150px;
    height: 150px;
    white-space: nowrap;
}

.gi-cr-item-helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.gi-cr-item-img {
    max-width: 138px;
    max-height: 138px;
    vertical-align: middle;
}

.gi-cr-div-for-one {
    max-width: 350px;
    display: inline-block;
}

.gi-cr-item-img-for-one {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

.gd-table {
    max-width: 700px;
    display: inline-block;

}

.gd-table-text {
    text-align: left;
    padding: 2%;
    width: 60%;
}

.gd-table-img {
    width: 40%;

}

.gd-img {
    max-height: 180px;
}

.gd-text {
    text-align: left;
}

.gd-cr-div {
    max-width: 700px;
    width: 100%;
    display: inline-block;
}


.gd-cr-item {
    max-width: 250px;
    vertical-align: middle;
}

.gd-jp-div {
    max-width: 700px;
    width: 100%;
    display: inline-block;
}

@media screen and (max-width: 321px) {
    #pomelo-div {
        margin: auto;
        max-width: 1080px;
        padding-top: 3150px;
        text-align: center;
        background-color: rgb(251, 255, 231);
        overflow: hidden;
        position: relative;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;     
    }

    #pomelo-iframe {
        position: absolute;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        top: -130px;
        left: 0%;
        bottom: 130%;
        right: 100%;
        width: 100%;
        height: 130%
    }
}


@media screen and (min-width: 321px) and (max-width: 361px) {
    #pomelo-div {
        margin: auto;
        max-width: 1080px;
        padding-top: 3260px;
        text-align: center;
        background-color: rgb(251, 255, 231);
        overflow: hidden;
        position: relative;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
    }

    #pomelo-iframe {
        position: absolute;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        top: -130px;
        left: 0%;
        bottom: 130%;
        right: 100%;
        width: 100%;
        height: 130%
    }
}

@media screen and (min-width: 361px) and (max-width: 576px) {
    #pomelo-div {
        margin: auto;
        max-width: 1080px;
        padding-top: 3280px;
        text-align: center;
        background-color: rgb(251, 255, 231);
        overflow: hidden;
        position: relative; 
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;      
    }

    #pomelo-iframe {
        position: absolute;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        top: -130px;
        left: 0%;
        bottom: 130%;
        right: 100%;
        width: 100%;
        height: 130%        
    }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
    #pomelo-div {
        margin: auto;
        max-width: 1080px;
        padding-top: 2850px;
        text-align: center;
        background-color: rgb(251, 255, 231);
        overflow: hidden;
        position: relative;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
    }

    #pomelo-iframe {
        position: absolute;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        top: -130px;
        left: 0%;
        bottom: 130%;
        right: 100%;
        width: 100%;
        height: 130%
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    #pomelo-div {
        margin: auto;
        max-width: 1080px;
        padding-top: 2950px;
        text-align: center;
        background-color: rgb(251, 255, 231);
        overflow: hidden;
        position: relative;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
    }

    #pomelo-iframe {
        position: absolute;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        top: -130px;
        left: 0%;
        bottom: 130%;
        right: 100%;
        width: 100%;
        height: 130%;
    }
}

@media screen and (min-width: 992px) {
    #pomelo-div {
        margin: auto;
        max-width: 1080px;
        padding-top: 2950px;
        text-align: center;
        background-color: rgb(251, 255, 231);
        overflow: hidden;
        position: relative;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
    }

    #pomelo-iframe {
        position: absolute;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        top: -180px;
        left: 0%;
        bottom: 130%;
        right: 100%;
        width: 100%;
        height: 130%;
    }

}